{{ define "main" }}

<figure class="sakura">
    <img src="{{ "img/sakura.jpg" | absURL }}">
    <figcaption>
        Image source:
        <a href="https://tensor.art/images/708890932373684013?post_id=708890932369489710">tensor.art - yanagid</a>
    </figcaption>
</figure>

<h1>About</h1>
<p>
    I am a 3x years old back-end engineer, based in Italy. Although I have always been interested in computers, I began
    programming during my university years, which I didn’t end up completing. I have experience with Python and a bit of
    Go, and I am currently exploring Rust and Kotlin.
</p>
<p>
    My professional work primarily involves system integration, and I have a keen interest in Kubernetes and cloud
    computing architectures.
</p>
<p>
    In my free time, I enjoy playing video games (although I don’t have much time to play them lately) and watching
    anime and TV series. My musical preferences include J-Pop, pop, rock, and some phonk. I’d love to have a cat, but
    since I’m frequently away from home, I’ve held off to ensure it wouldn’t feel lonely.
</p>

{{ end }}